html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    background: #F1EFE9;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.wrapper {
    width: 1000px;
    margin: 0 auto;
} 

section {
    background-color: #F1EFE9;
    height: 500px;
    margin-top: 20em;
    padding: 2em;
}